.chat-main
  .chat-main__header
    .chat-main__header__left-contents
      .chat-main__header__left-contents--group-name
        = @group.name
      .chat-main__header__left-contents--member
        = "Member："
        %ul.member-list
          - @group.group_users.each do |group_user|
            %li
              = group_user.user.name
    .chat-main__header__right-contents
      = link_to edit_group_path(@group), class: "edit-btn" do
        Edit
  .chat-main__message-list
    = render @messages
  .chat-main__message-form
    = form_for [@group, @message] do |f|
      .new-message    
        .new-message__input-box
          = f.text_field :content, class: "new-message__input-box__text", placeholder: "type a message"
          =f.label :image, class: "new-message__input-box__image" do
            = icon("far", "image")
            = f.file_field :image, class: "new-message__input-box__image--file"
        = f.submit "Send", class: "new-message__submit-btn"