.side-bar
  .side-bar__header
    .side-bar__header__contents
      .side-bar__header__contents--user-name
        = current_user.name
      .side-bar__header__contents--icon
        = link_to new_group_path, class: "new-group" do
          = icon("far", "edit")
        = link_to edit_user_path(current_user.id), class: "edit-account" do
          = icon("fas", "cog")
  .side-bar__group-list
    - current_user.groups.each do |group|
      = link_to "#", class: "group-box" do
        .group-box__group-name
          = group.name
        .group-box__latest-message
          まだメッセージがありません